html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 10rem;
  padding-right: 10rem;
}
