$headerLogoTextSize: 24px;
$headerLogoColor: #f9faf8;
$headerLinkSize: 18px;
$headerLinkColor: #e5e7eb;
$darkBackgroundColor: #1f2937;
$heroMainTextSize: 48px;
$heroSecondaryTextSize: 18px;
$infomationHeaderTextSize: 36px;
$buttonBackgroundColor: #3882f6;
